---
import { cn } from "@/lib/utils";
import type { HTMLAttributes, HTMLTag } from "astro/types";

import DialogClose from "./DialogClose.astro";
import DialogOverlay from "./DialogOverlay.astro";
import { X } from "@lucide/astro";

type Props = {
  showCloseButton?: boolean;
} & HTMLAttributes<"div">;

const {
  showCloseButton = true,
  class: className = "",
  ...rest
} = Astro.props as Props;
---

<div data-slot="dialog-portal" class="z-50 isolate absolute">
  <DialogOverlay />
  <div
    data-slot="dialog-content"
    hidden
    class={cn(
      "bg-background data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 fixed top-[50%] left-[50%] grid w-full max-w-[calc(100%-2rem)] translate-x-[-50%] translate-y-[-50%] gap-4 rounded-lg border p-6 shadow-lg duration-250 ease outline-none sm:max-w-lg",
      "transition-discrete [--tw-animation-fill-mode:both]",
      className,
    )}
    {...rest}
  >
    <slot />
    {
      showCloseButton && (
        <DialogClose class="absolute top-4 right-4 rounded-xs opacity-70 transition-opacity hover:opacity-100 focus-visible:ring-2 focus-visible:ring-offset-2 focus:outline-hidden focus:outline-none focus:ring-0 disabled:pointer-events-none [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4">
          <X />
          <span class="sr-only">Close</span>
        </DialogClose>
      )
    }
  </div>
</div>
