---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

type Props = {
  class?: string;
} & HTMLAttributes<"div">;

const { class: className = "", ...rest } = Astro.props as Props;
---

<div
  data-slot="dialog-header"
  class={cn("flex flex-col gap-2 text-center sm:text-left", className)}
  {...rest}
>
  <slot />
</div>
