---
import { cva } from "class-variance-authority";
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

type Props = {
  class?: string;
} & HTMLAttributes<"div">;

const {
  class: className = "",
  ...rest
} = Astro.props as Props;

const headerVariants = cva(
  "@container/card-header grid auto-rows-min grid-rows-[auto_auto] items-start gap-2 px-6 has-data-[slot=card-action]:grid-cols-[1fr_auto] [.border-b]:pb-6",
);
---

<div
  {...rest}
  data-slot="card-header"
  class={cn(headerVariants(), className)}
>
  <slot />
</div>

