---
import { cva } from "class-variance-authority";
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

type Props = {
  class?: string;
} & HTMLAttributes<"div">;

const {
  class: className = "",
  ...rest
} = Astro.props as Props;

const contentVariants = cva("px-6");
---

<div
  {...rest}
  data-slot="card-content"
  class={cn(contentVariants(), className)}
>
  <slot />
</div>

