---
import Social from "../components/Social.astro";
---

<footer class="layout-base min-h-32 bg-muted/20 text-2xl py-4 backdrop-blur-xs">
  <div class="flex justify-between flex-wrap gap-4">
    <Social platform="instagram" username="ruby.kmykk" />
    <Social platform="github" username="SnArk22" />
    <Social platform="linkedin" username="in/ruby-mykkanen-a4b18035b/" />
    <Social platform="discord" username="Ruen01" />
    <Social platform="whatsapp" username="Ruby Mykkanen" />
  </div>
</footer>
