---
import Logo from "../assets/logo.svg";
import Button from "../components/ui/button/Button.astro";
---

<header class="layout-full sticky top-0 backdrop-blur-sm z-50 bg-muted/80">
  <nav class="py-4 md:items-center flex justify-between">
    <a
      href="/"
      class="font-(family-name:--font-lato) text-2xl font-bold text-primary flex gap-2 items-center"
    >
      <!-- Set different color with color={'var(--***)'} -->
      <Logo width={30} height={30} />
      Ruby Mykkanen
    </a>

    <input type="checkbox" id="hamburger-menu-checkbox" class="peer" />
    <label for="hamburger-menu-checkbox">
      <span></span>
    </label>

    <ul
      class="flex flex-col sm:flex-row uppercase peer-not-checked:hidden lg:peer-not-checked:flex animate-in fade-in duration-500 gap-2"
    >
      <li>
        <Button variant={"ghost"} as="a" href={"/"}>Home</Button>
      </li>
      <li><Button variant={"ghost"} as="a" href={"/about"}>About</Button></li>
      <li>
        <Button variant={"ghost"} as="a" href={"/projects"}>Projects</Button>
      </li>
      <li>
        <Button variant={"ghost"} as="a" href={"/newsletters"}
          >Newsletter</Button
        >
      </li>
      <li>
        <Button variant={"ghost"} as="a" href={"/contact"}>Contact</Button>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    animation: header-scroll linear;
    animation-timeline: scroll();
    animation-range: 0 300px;
  }

  @keyframes header-scroll {
    from {
      background-color: color-mix(in srgb, var(--color-muted), transparent 80%);
    }
    to {
      background-color: color-mix(in srgb, var(--color-muted), transparent 20%);
    }
  }

  nav label {
    display: none;
  }

  /* These two lines make the checkbox and the label disappear when we are in desktop mode. */
  nav input[type="checkbox"] {
    display: none;
  }

  /* This start to get interesting: we go into mobile phone mode */
  @media (max-width: 1024px) {
    /* Here is the magic: if the checkbox is not marked, the adjacent list is not displayed */
    input[type="checkbox"]:not(:checked) + ul {
      display: none;
    }

    nav {
      flex-direction: row;
      flex-wrap: wrap;
    }

    /* Stlying the menu icon, the checkbox stays hidden */

    /* Because we are in mobile mode, we want to display it as a vertical list */
    nav ul {
      /*display: block;*/
    }

    /* We have two lists: the first one are the always visibile items in the
          menu bar. The second one is the one that will be hidden */
    nav ul:last-child {
      width: 100%;
      flex-basis: 100%;
    }

    nav ul li {
      margin-bottom: 0;
      width: 100%;
      text-align: right;
    }

    #hamburger-menu-checkbox ~ label {
      /* Show the 'hand' cursor when the user hovers over the icon */
      cursor: pointer;

      /* Increase the hit area of the icon */
      padding: 8px;
      display: flex;
      align-items: center;
      z-index: 99;
    }

    /* Hide the checkbox control */
    #hamburger-menu-checkbox {
      display: none;
    }

    /* Set up the middle line of the hamburger icon */
    #hamburger-menu-checkbox ~ label span {
      display: inline-block;
      width: 32px;
      height: 4px;
      background-color: var(--primary);
      border-radius: 3px;
      margin-left: var(--space-small);
    }

    /* Set up the top and bottom lines of the hamburger icon */
    #hamburger-menu-checkbox ~ label span::after,
    #hamburger-menu-checkbox ~ label span::before {
      content: "";
      position: absolute;
      width: 32px;
      height: 4px;
      background-color: var(--primary);
      border-radius: 3px;
    }

    /* Place the bottom line 8px below the middle */
    #hamburger-menu-checkbox ~ label span::after {
      margin-top: 8px;
    }

    /* Place the top line 8px above the middle line */
    #hamburger-menu-checkbox ~ label span::before {
      margin-top: -8px;
    }

    /* Set the middle line's transition to be instantaneous and to start */
    /* 0.2 seconds after the transition is applied */
    #hamburger-menu-checkbox ~ label span {
      transition-duration: 0s;
      transition-delay: 0.2s;
    }

    /* Apply styles to the top and bottom lines */
    #hamburger-menu-checkbox ~ label span::after,
    #hamburger-menu-checkbox ~ label span::before {
      /* Set the transition time for the top and bottom lines to 0.2s. */
      transition-duration: 0.2s;

      /* Set the transition properties as we need these lines to animate */
      /* upwards or downwards as applicable and then rotate */
      transition-property: margin, transform;

      /* These styles are applied in the unselected state of the */
      /* control, so we need to setup the reverse animation here. */
      /* This property animates the transform (rotation) immediately */
      /* and the margin 0.2s later, as is needed when going from the */
      /* cross to the hamburger icon */
      transition-delay: 0.2s, 0s;
    }

    /* Hide the middle line when the control is selected */
    #hamburger-menu-checkbox:checked ~ label span {
      background-color: transparent;
    }
    /* Set up the forward animation for the top and bottom lines. */
    #hamburger-menu-checkbox:checked ~ label span:before,
    #hamburger-menu-checkbox:checked ~ label span:after {
      transition-delay: 0s, 0.2s;
      margin-top: 0;
    }

    /* Rotate the top line by 45 degrees */
    #hamburger-menu-checkbox:checked ~ label span:before {
      transform: rotate(45deg);
    }

    /* Rotate the bottom line by 45 degrees in the opposite direction */
    #hamburger-menu-checkbox:checked ~ label span:after {
      transform: rotate(-45deg);
    }
  }
</style>
